/*Common Styles*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03rem;
	margin: 0;
}

h1 {
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 0.2rem;
}

h2 {
	color: #000;
	font-size: 2rem;
	font-weight: 100;
	line-height: 0.2rem;
	text-align: center;
}

h3 {
	font-size: 1.3rem;
	font-weight: 100;
	line-height: 0.2rem;
}

div {
}

a {
	text-decoration: none;
}

hr {
	margin-top: 9rem;
	margin-bottom: 4rem;
}

.content {
	margin: 0 auto;
	width: 970px;
}

/*Navigation Styles*/
.top-navigation {
	background: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
}

.top-navigation .content {
	height: 70px;
	padding: 0px 15px;
	
}

.top-navigation .links {
	float: right;
	padding-top: 0.5rem;
}

.top-navigation .links li {
	display: inline-block;
	float: left;
	margin-right: 1rem;
}

.top-navigation .links li a:active, .top-navigation .links li a:visited {
    color: #4c5058;
    font-weight: 500;
    text-decoration: none;
}

.top-navigation .links li a:hover {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

.top-navigation .logo {
	padding-top: 1rem;
}

/*Header Styles*/

.introduction {
	background-image: url('../images/background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto
}

.introduction .content {
	margin-top: 10rem;
}

.introduction .content h1, h3 {
	color: #fff;
	text-align: center;
}

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    width: auto;
    background-color: #FF9900;
    font-size: 1.3rem;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    cursor: pointer;
}

.big-button:hover {
	background-color: #E68A00;
}

/*Body Styles*/

.cases .content h2 {
	margin-top: 5rem;
	margin-bottom: 4rem;
}

.cases .devices {
    box-sizing: border-box;
    height: 4em;
    text-align: center;
}

.cases .content li {
	width: 33.3333333%;
	display: inline-block;
	float: left;
}

/*Footer Styles*/

footer .content {
	text-align: center;
}

.social .content .icons {
	display: block;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.social .content .icons li {
	display: inline-block;
	border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.social .copy {
	display: block;
	width: 100%;
	margin-top: 3rem;
	margin-bottom: 3rem;
}